<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static "css/test.css"%}">
  </head>
  <body>
    <h1>Hydrabaad Jobs</h1>
    {% if job_list %}
    <table>
      <thead>
        <th>Date</th>
        <th>Company</th>
        <th>Title</th>
        <th>Eligibility</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone No</th>
      </thead>
      {% for job in job_list %}
      <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibility}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phoneno}}</td>
      </tr>
      {%endfor%}
    </table>
    {%else%}
       <h1>No Record Found</h1>
      {%endif%}
  </body>
</html>
