<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static "css/test.css"%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </head>
  <body>
     <div class="container" align='center'>
       <div class="jumbotron">
<h1 class="display-4">Welcome to Jobs Potral</h1>
<hr class="my-4">
<p>Search Jobs Here.....!!!.</p>
<a class="btn btn-primary btn-lg" href="/hydjobs" role="button">Hydrabaad</a>
<a class="btn btn-primary btn-lg" href="/bangjobs" role="button">Banglore</a>
<a class="btn btn-primary btn-lg" href="/punejobs" role="button">Pune</a>
<a class="btn btn-primary btn-lg" href="/indorejobs" role="button">Indore</a>

</div>
     </div>
  </body>
</html>
